<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script type=text/javascript>
			$(document).ready(function() {
				$("#submit_btn").click(function() {
					if(!$.isNumeric($('#number').val())) {
						return false;
					}

					$.post({
					    	url: '/dto_gen',
					    	data: $('form').serialize(),
					    	success: function(data) {
					        	$("#result").val($("#result").val() + data);
					    	}
					});
					return false;
				});
			});
		</script>
		<script type=text/javascript>
			$(document).ready(function() {
				$("#clear").click(function() {
					$("#result").val("");
				});
			});
		</script>
	</head>
	<body>
		<h1>DTO Generator</h1>
		<div id="container">
				<div class="left">
					<form id="contact-form" method="post">
						<div class="form-control">
				  			<select name="indent">
				  			   <option value="" disabled selected>Indentation</option>
							   <option value="05">05</option> 
							   <option value="10">10</option> 
							   <option value="15">15</option>
							   <option value="20">20</option> 
							</select><br>
						</div>
						<div class="form-control">
			  				<input type="text" placeholder="Tag" name="tag" autocomplete="off"><br>
			  			</div>
			  			<div class="form-control">
			  				<input id="number" type="number" placeholder="PIC" name="pic" autocomplete="off"><br>
			  			</div>	
			  			<div class="form-control">
			  				<input type="text" placeholder="Name" name="name" autocomplete="off"><br>
			  			</div>
			  			<div class="form-control">
		  					<input class="btn" id="clear" type="reset" value="Clear">
			  				<input class="btn" id="submit_btn" type="submit" value="Submit">
	  					</div>
					</form>
				</div>
				 <div class="right">
					<textarea readonly id="result"></textarea>
				</div>
			</div>
	<body>
</html>