<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<title>DTO Generator</title>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>DTO Generator COBOL</h1>
		<div class="container">
			<div class="left">
				<form id="cobol-form" class="form" method="post">
					<div class="form-control">
			  			<select class="send_enter" name="indent">
			  			   <option value="" disabled selected>Indentation</option>
						   <option value="05">05</option>
						   <option value="10">10</option> 
						   <option value="15">15</option>
						   <option value="20">20</option> 
						</select><br>
					</div>
					<div class="form-control">
		  				<input class="send_enter" type="text" placeholder="Tag" name="tag" autocomplete="off"><br>
		  			</div>
		  			<div class="form-control">
		  				<input class="send_enter" id="number" type="number" placeholder="PIC" name="pic" autocomplete="off"><br>
		  			</div>	
		  			<div class="form-control">
		  				<input class="send_enter" type="text" placeholder="Name" name="name" autocomplete="off"><br>
		  			</div>
		  			<div class="form-control">
	  					<input class="btn clear" id="clear_cobol" type="reset" value="Clear">
		  				<input class="btn submit" id="submit_cobol" type="button" value="Submit">
  					</div>
				</form>
			</div>
			 <div class="right">
				<textarea readonly id="cobol_textarea"></textarea>
			</div>
		</div>

		<h1>DTO Generator Java</h1>
		<div>
			<form id="java-form" class="container form" method="post">
				<div class="left">
					<div class="form-control">
						<input class="btn clear" type="reset" value="Clear">
						<input class="btn submit" id="submit_java" type="button" value="Submit">
					</div>
				</div>

				<div class="right">
					<textarea id="java_textarea" name="area"></textarea>
				</div>
			</form>
		</div>

		<script src="{{ url_for('static', filename='scripts/DtoSender.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
	<body>
</html>